[submodule "extern/ovni"]
	path = extern/ovni
	url = https://gitlab.huaweirc.ch/zrc-von-neumann-lab/runtime-system-innovations/ovni.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
